<% @stories.each do |story| %>
  <p>
    Name of Story - <%= story.name %>
  </p>
  <p>
    <form action="/stories/<%= story.id %>/edit">
      <input type="hidden" name="user_to_edit_story_of" value="<%= @user.id %>">
      <input type="submit" value="Edit this story">
  </p>
  <p>
    <form action="/users/<%= @user.id %>/stories/<%= story.id %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Delete this story?">
    </form>
  </p>
  <p>
    <a href="/stories/<%= story.id %>">View this story</a>
  </p>
<% end %>
