<p><h2>Main Menu</h2></p>
 
 <% @users.each do |user|%>
   <ul>
     <li>
       <%= user.name %>
     </li>
     <li>
       <form action="/users/<%= user.id %>" method="post">
         <input type="hidden" name="_method" value="delete">
         <input type="submit" value = "Delete this user">
       </form>
      </li>
      <li>
        <form action="/users/edit_profile">
          <input type="hidden" name="user_to_edit" value="<%= user.id %>">
          <input type="submit" value="Edit this user">
        </form>
      </li>
      <li>
        <form action="/users/<%= user.id %>">
          <input type="submit" value="View this user">
        </form>
      </li>
      <li>
        <form action="/users/<%= user.id %>/stories">
          <input type="submit" value="View this user's stories">
        </form>
      </li>
      <li>
        <form action="/stories/new">
          <input type="submit" value="Add a new story">
          <input type="hidden" name="user_to_add_story_to" value="<%= user.id %>">
        </form>
      </li>
    </ul>
  <% end %>
   